.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  border-bottom: 2px solid rgba(147, 51, 234, 0.4);
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu {
  display: flex;
  gap: 22px;
}

.navbtn {
  border: 2px solid rgba(147, 51, 234, 0.6);
  padding: 6px 18px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.25s;
}

.navbtn:hover {
  background: rgba(147, 51, 234, 0.2);
}

.cards-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.card {
  width: 320px;
  height: 420px;
  border-radius: 16px;
  padding: 3px;
}

.border-green {
  background: linear-gradient(to bottom, #47ff84, #146b2f);
}

.border-discord {
  background: linear-gradient(to bottom, #6eaaff, #3a41c9);
}

.card-inner {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: 400px;
  margin-bottom: 18px;
  opacity: 0.9;
  height: auto;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  font-size: 0.85rem;
  color: #cccccc;
  line-height: 1.3rem;
  margin-bottom: 36px;
}
.join-btn {
  margin-top: auto;
  width: 110px;
  padding: 8px 0;
  border-radius: 10px;
  border: 2px solid rgba(147, 51, 234, 0.7);
  font-size: 1.1rem;
  font-weight: 600;
  transition: 0.25s;
}

.join-btn:hover {
  background: rgba(147, 51, 234, 0.25);
}
.icon-dc{
  width: 200px;
  height: auto;
}
