body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: white;
}



.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 40px; 
  min-height: calc(100vh - 120px);
  margin-left: 100px; 
  
}

.slide {
  padding: 40px;
  border-radius: 16px;
  width: 750px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

h1 {
  color: #fff;
  font-size: 2.6rem;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 25px;
  font-size: 1.20rem;
  font-variant: bold;
}

h3 {
  margin-top: 15px;
  font-size: 1.10rem;
}

p,
li {
  line-height: 1.9;
  font-size: 1.2rem;
}

ul {
  margin-left: 20px;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.pagination button {
  background: linear-gradient(135deg, #8A38F5,#367BF0);
  border: none;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(125, 79, 255, 0.4);
}

.pagination button:hover {
  transform: scale(1.12);
  box-shadow: 0 0 25px rgba(154, 112, 255, 0.7);
}

.active {
  background: linear-gradient(135deg, #7d4fff, #4f8cff);
  box-shadow: 0 0 30px rgba(154, 112, 255, 0.9);
}