body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: rgba(20, 0, 30, 0.6);
  backdrop-filter: blur(8px);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #ff00cc, #6600ff);
  border-image-slice: 1;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-right: 7rem;
}

.logo img {
  height: 4rem;
}
.menu {
  display: flex;
  gap: 90px;
}

.menu a {
  background: rgba(90, 0, 120, 0.5);
  color: #fff;
  border: 1px solid #bb66ff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}
.menu a:hover {
  background: #6600cc;
  box-shadow: 0 0 10px #aa55ff, 0 0 20px #6600ff;
  transform: translateY(-2px);
}

.content {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: calc(100vh - 80px); 
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px;
}


.nav-btn:hover {
  background-color: #3f22b0;
}

.back-btn {
  background-color: #2980F7;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin: 18px 0 20px 0;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.leaderboard-container {
  max-width: 95% ;
  
}

.leaderboard-title {
  background-color: #2980F7;
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 18px;
}

.leaderboard-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.leaderboard-entry {
  background-color: #3f22b0;
  padding: 14px 22px;
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}

.rank {
  font-weight: 900;
  font-size: 22px;
  flex-shrink: 0;
  width: 40px;
}

.username {
  flex-grow: 1;
  padding-left: 14px;
  text-align: left;
}

.score {
  font-weight: 900;
  font-size: 20px;
  color: #fff44f; /* warna kuning terang */
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 120px;
  justify-content: flex-end;
}
.score .star {
  color: #fff44f;
}

