body{
  --bg: #07090b;
  --accent-1: #4a6bff;
  --accent-2: #9353ff;
  --muted: #bfc7cf;
  --green: #24c36b;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #040506 0%, #07090b 100%);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px;
}

main {
  padding: 40px 100px;
}

h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.8em;
  margin-top: 30px;
  margin-bottom: 15px;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
  gap: 40px;
}

.section .text {
  flex: 1;
  line-height: 1.6;
}

.section img {
  width: 180px;
  border-radius: 10px;
  border: 2px solid #6600cc;
  box-shadow: 0 0 15px rgba(153, 0, 255, 0.4);
}

ul {
  margin-top: 10px;
  margin-left: 20px;
}

.pagination {
  text-align: center;
  margin-top: 60px;
}

.pagination button {
  background: linear-gradient(90deg, #6633ff, #9966ff);
  border: none;
  color: white;
  font-size: 1.2em;
  padding: 10px 16px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #a366ff;
}

.pagination button.active {
  background: linear-gradient(90deg, #3300ff, #9933ff);
  box-shadow: 0 0 10px #a366ff;
}
