* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: white;
}

.profile-container {
  background-color: #000611;
  padding: 30px;
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  flex-wrap: wrap;
}

.user-info p {
  font-size: 18px;
  margin-bottom: 15px;
}

.username, .rank, .score {
  color: #7960da;
  font-weight: bold;
  font-size: 24px;
}

.star-icon {
  color: #ffef59;
  margin-right: 8px;
  font-size: 24px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.leaderboard-button {
  background-color: #3c82f6;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
  white-space: nowrap;
}

.leaderboard-button:hover {
    transform: translateY(-2px);
}

.solved-challenges-section {
  margin: 0 auto 40px;
  max-width: 1000px;
  padding: 0 20px;
  background-color: transparent;
}

.solved-challenges-section h2 {
  background-color: #3c82f6;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 8px 8px 0 0;
  margin: 0;
}

.challenge-list {
  background-color: #2e007d;
  border-radius: 0 0 8px 8px;
}

.challenge-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.challenge-name {
    margin: 0;
    word-break: break-word;
    padding-right: 15px;
}

.challenge-points {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.challenge-score {
  font-size: 20px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .button-group {
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
  }

  .leaderboard-button {
    width: 100%;
  }

  .solved-challenges-section {
    padding: 0 20px;
  }
}