body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: white;
}


.signup-box h2 {
  color: #cc88ff;
  margin-bottom: 20px;
}
.signup-box label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
.signup-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ff99ff;
  border-radius: 5px;
  background: #330022;
  color: white;
}
.signup-box a {
  display: block;
  margin-top: 10px;
  color: #ff99ff;
  font-size: 0.9em;
  text-decoration: none;
}
.signup-box button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #6600cc;
  border: 2px solid #aa66ff;
  color: white;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}
.signup-box button:hover {
  background: #8800ff;
}

.signup-box {
  background: rgba(50, 0, 50, 0.5);
  padding: 40px;
  width: 300px;
}

.left-box {
  background: linear-gradient(to bottom right, #3333ff, #cc33cc);
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
  width: 300px;
  padding-top: 150px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 20px;
}

.container3{
  display: flex;
  border-radius: 10px;
  border: 2px solid #9900ff;
}